.even-columns {
    display: flex;
    gap: 1em;
}

.even-columns>* {
    flex-basis: 100%;
    /*all the same size */
}

.grid-ish {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.grid-ish>* {
    flex: 0 1 33%;
    /*No scaling*/
    flex: 1 1 33%;
    /*Scaling wrapped element*/
    flex: 1 1 15em;
    /*Make responsive*/
}

.grid-sidebar {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.grid-sidebar>*:nth-child(1) {
    flex: 1 1 70%;
    min-width: 50ch;
    /*70% main area*/
}

.grid-sidebar>*:nth-child(2) {
    flex: 1 1 30%;
    min-width: 15ch;
    /*30% main area*/
}

:root {
    --ff-primary: basic-sans, sans-serif;
    --clr-primary: #ee6352;
    --crl-body: #333;
    --crl-bg: #ddd;
    --spacer: 1rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.col {
    padding: 50px;
    background-color: rgb(148, 146, 146);
    border-color: rgb(105, 84, 84);
    border-style: solid;
}