/* - Use selectors cleverly, make classes not nested selectors! 
   - Fonts information placed in parent object is passed to children objects 
   - Universal selector -> * is inefficient most times is used to set box-sizing
   -  Use shorthands like -> margin: 1 2 3 4; background: (...); font: (...); etc.
   - Do not use float
   - Photos in .jpg, transparent: .png, icon: .svg
   - Minify css
   - Download fonts, which will be used in project - not whole family
   - Pseude elements can not be used in elements without the content ex.img (without closing tag) */

   body {
    font: 70px Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.box1 {
    background-color: lightblue;
    display: grid;
    justify-items: center;
}
.box2 {
    background-color: lightgreen;
}
.box3 {
    background-color: lightcoral;
}

.list-item1 {
    position: relative;
}

.list-item1::before {
    content:'';
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: blue;
}
.list-item1::after {
    content:'';
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: coral;
}
/* More clear version: */
.list-item2 {
    position: relative;
}
.list-item2::before, .list-item2::after {
    content:'';
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
}

.list-item2::before {
    background-color: blue;
    left: -50px;
}
.list-item2::after {
    background-color: coral;
    right: -50px;
}

/*----------------*/

.navigation {
    font-size: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation li {
    display: inline-block;
}

button {
    height: 50px;
}

/*----------------*/
.ba p{
    font-size: 30px;
    position: relative;
}

.ba{
    display: flex;
    justify-content: center;
}

.ba p::before {
    content: 'Siemaneczko ';

}

.ba p::after {
    content: '!';
}

.ba p::before {
    content: url('https://image.flaticon.com/icons/svg/112/112715.svg');
    content: '';
    position: absolute;
    left: -40px;
    width: 30px;
    height: 30px;
    transform: transform .8s ease-in;
    will-change: transform;
    background-color: blue;
}

.ba p:hover::before {
    /* transform: translateX(-20px); */
    transform: scale(1.5);
}
.ba p::after {
    content: '';
    position: absolute;
    right: -30px; 
    width: 30px;
    height: 30px;
    background-color: red;
}