:root {
    font-size: 1.5em;
    font-family: sans-serif;
    height: 100%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.puzzle .word {
    display: flex;
}

.puzzle .word .letter{
    margin: 0.1em;
    width: 2em;
    height: 2em;
    background-color: rgb(117, 132, 138);
    color: white;
    text-align: center;
    order: 2;
    position: relative;
    right: 50%;
    transition: transform .5s ease-in-out;

}

.puzzle .word .letter::before {
    content: "";
    display: inline-block;
    height: 100%; 
    vertical-align: middle;
}

.puzzle .word .letter:last-child{
    margin-right: auto;
}

.puzzle .word .pivot {
    background-color: rgb(50, 150, 50);
}

.puzzle .word .pivot, .puzzle .word .pivot ~.letter {
    order: 1;
    left:50%;
}

.puzzle .word .letter:hover {
    transform: rotateY(360deg);
}